/* Header */

.top-nav {
    width: 85%;
    margin: auto;
    padding: 12px 0px;
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.contact-detail {
    display: flex;
    align-items: center;
    justify-content: center;
}

.top-nav-icons {
    margin: 8px 0px 2px 0px;
    display: flex;
    justify-content: center;
}

.main-navbar {
    width: 100%;
    margin: auto;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

#logo h1 {
    font-size: 30px;
}

#navigation {
    text-align: left;
    position: absolute;
    top: 99%;
    left: 0;
    background-color: var(--main-bg-color);
    width: 100%;
    z-index: 100;
    padding: 10px 20px;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    transition: 1s;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}

#navigation ul li {
    display: block;
    padding: 14px 10px;
    font-size: 15.3px;
    transition: 0.3s;
    font-weight: 500;
}

.live {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%) !important;
}

#menu {
    display: block;
    font-size: 22px;
    transition: 1s ease-out;
}

#menu.fa-times {
    transform: rotate(360deg);
}


/* /Header */


/* Banner */

#banner-slider {
    background-image: url("../images/intro/map.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 353px;
    opacity: 99%;
    position: relative;
    background-color: rgb(228, 234, 235);
}

.banner-text {
    position: absolute;
    top: 7%;
    transform: translateY(-10%);
    left: 50%;
    transform: translateX(-50%);
    margin: 15px 0px;
}

.banner-text h1 {
    font-size: 35px;
    color: var(--main-bg-color);
    letter-spacing: 1px;
    margin-bottom: 10px;
    font-weight: 700;
    text-align: center;
}

.banner-text p {
    font-size: 14px;
    color: var(--main-nav-bg-color);
    font-weight: 550;
    margin: 12px 0px 10px 0px;
    text-align: center;
}

.btn {
    background-color: var(--btn-bg-color);
    color: white;
    border: 0;
    outline: 0;
    padding: 6px 19px;
    font-size: 16px;
    border-radius: 18px;
    cursor: pointer;
    transition: 0.3s;
    display: block;
    margin: 30px auto;
}


/* /Banner */


/* Service */

.service-text h2 {
    font-size: 30px;
    margin-bottom: 10px;
    color: var(--main-bg-color);
}

.service-text p {
    font-size: 11.5px;
    margin-bottom: 8px;
    color: #6c757d;
}

.service-boxes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.icon img {
    width: 78px;
}

.service-box {
    width: 100%;
    border: 1px solid lightgray;
    text-align: center;
    padding: 40px 12px;
    margin: 15px auto 10px auto;
    border-radius: 10px;
}

.service-box p {
    font-size: 14px;
}

.service-box .btn {
    font-size: 14px;
}


/* /Service */


/* Solution */

#solution-section {
    width: 100%;
    text-align: center;
    padding: 50px 0px;
}

#solution-section h1 {
    font-size: 33px;
    color: var(--main-bg-color);
    padding: 18px 0px 18px 0px;
}

#solution-section p {
    font-size: 14px;
    color: #6c757d;
    padding: 5px 0px 2px 0px;
    width: 82%;
    display: block;
    margin: auto;
}

#solution-section .btn {
    margin: 32px auto 10px auto;
    display: block;
}


/* Solution */


/* Consulting */

#Consulting {
    width: 100%;
}

.Consulting-boxes {
    width: 85%;
    margin: auto;
    padding: 95px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column-reverse;
}

.Consulting-text {
    width: 100%;
    text-align: center;
}

.con-icon {
    margin: 4px 0px 25px 0px;
}

.con-icon i {
    font-size: 63px;
    color: var(--btn-bg-color);
}

.Consulting-text h1 {
    color: var(--main-bg-color);
    font-size: 24px;
    padding: 20px 0px 8px 0px;
}

.Consulting-text p {
    padding: 10px 0px;
    color: var(--secondary-text-color);
    font-size: 14px;
}

.Consulting-text .btn {
    margin: 13px auto 10px auto;
}

.Consulting-img {
    width: 100%;
    margin: 0px 0px 48px 0px;
}

.Consulting-img img {
    width: 100%;
    height: auto;
}

#consultancy-services {
    background-color: var(--main-bg-color);
    width: 100%;
}

.con-box {
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding: 40px 0px;
    flex-direction: column;
}

.con-box h2 {
    font-size: 17px;
    color: white;
    margin: 0px 0px 5px;
    font-weight: 500;
    text-align: center;
}

.con-box p {
    font-size: 12px;
    text-align: center;
    margin-top: 15px;
}


/* Industry leader */

#Industry {
    width: 85%;
    display: flex;
    margin: auto;
    padding: 58px 0px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.ind-boxes {
    width: 100%;
    text-align: center;
}

.ind-boxes h1 {
    font-size: 27px;
    color: var(--main-bg-color);
    padding: 20px 0px 16px 0px;
}

.ind-boxes p {
    font-size: 11px;
    color: var(--secondary-text-color);
    padding: 10px 0px 11px 0px;
    width: 100%;
}

.ind-img {
    width: 100%;
    margin: 26px 0px 0px 0px;
}


/* Our Clients */

#Our-clients {
    width: 85%;
    margin: auto;
    padding: 41px 0px 95px 0px;
}

#Our-clients h1 {
    text-align: center;
    font-size: 33px;
    color: var(--main-bg-color);
    margin: 20px 0px 25px 0px;
}

.clints-img {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.clints-img img {
    width: 100px;
    filter: grayscale(100%);
    transition: 0.1s;
    margin: 19px 0px;
}

.clints-img img:hover {
    filter: grayscale(0%);
}


/* /Our Clients */

.btn {
    font-size: 13px;
}


/* footer */

#main-footer {
    background-color: var(--main-bg-color);
    width: 100%;
    padding: 50px 0px;
}

.footer {
    width: 85%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

#f-box {
    margin: 8px 0px;
}

#f-box h3 {
    font-size: 20px;
    font-weight: 540;
}

#f-box ul {
    margin: 20px 0px;
}

#f-box ul li {
    list-style: none;
    padding: 12px 0px;
}

#f-box a:hover {
    text-decoration: underline;
    color: var(--btn-bg-color);
}

.site-links ul li {
    padding: 10px 0px !important;
}

.quick-links ul li {
    padding: 7px 0px !important;
}

.follow-us i {
    padding: 10px;
    color: white;
    font-size: 16px;
    margin: 14px 0px;
    cursor: pointer;
    transition: 0.1s;
}

.follow-us i:hover {
    color: var(--btn-bg-color);
}


/* flex class */

.d-flex {
    display: flex;
    align-items: center !important;
    justify-content: center;
    padding: 12px 0px 0px 0px;
}

#credits h2 {
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 1px;
}


/* /flex class */


/* /footer */


/* About us Media */


/* Industry leader */

.indutry-container {
    width: 85%;
    margin: auto;
    padding: 50px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.industry-text {
    width: 100%;
    text-align: center;
}

.industry-text h3 {
    color: #ff9d34;
    font-size: 16px;
}

.industry-text h1 {
    font-size: 23px;
    color: var(--main-bg-color);
    padding: 15px 0px;
}

.industry-text p {
    font-size: 13px;
    color: var(--secondary-text-color);
    padding: 8px 0;
    width: 100%;
}

.industry-img {
    width: 100%;
    margin-top: 38px;
    text-align: center;
}

.industry-img img {
    width: 100%;
    height: auto;
}


/* /Industry leader */


/* Mission-section */

#mission-section {
    width: 85%;
    margin: auto;
    padding: 55px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.mission-left-img {
    width: 100%;
}

.left-img {
    width: 198px;
    margin: auto;
    text-align: right;
}

.left-img img {
    width: 100%;
}

.mission-right-img {
    width: 100%;
}

.right-boxes {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.img {
    width: 325px;
    margin: 55px 30px;
}

.img img {
    width: 100%;
}

.right-text h2 {
    color: black;
    font-size: 16px;
    padding-bottom: 10px;
    font-weight: 500;
}

.right-text p {
    font-size: 13px;
    color: var(--secondary-text-color);
    padding: 5px 0px;
}


/* /Mission-section */


/* our team */

.our-team-img {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.img-container {
    width: 100%;
    margin: 28px 0 20px 0px;
    border: 1px solid rgb(236, 226, 226);
    margin-left: 7px;
    border-radius: 10px;
    transition: 0.5s;
    padding: 15px;
}

#our-team {
    width: 85%;
    margin: auto;
    padding: 40px 0;
    text-align: center;
}

.our-text h1 {
    font-size: 31px;
    color: #014073;
}

.our-text p {
    padding: 10px 0 !important;
    color: var(--secondary-text-color);
    font-size: 13px;
}

.about-us-text h1 {
    font-size: 33px;
    color: var(--main-bg-color);
    padding-bottom: 11px;
}

.about-us-text p {
    font-size: 13px;
    color: var(--secondary-text-color);
}


/* /our team */


/* /About us Media */


/* Services Media*/

#ind-text {
    text-align: left;
}

#ind-text p {
    width: 100% !important;
}

.pro-head h2 {
    color: var(--main-bg-color);
    font-size: 29px;
    padding-bottom: 15px;
}

.pro-head p {
    font-size: 13px;
}

#product-section {
    display: flex;
    flex-grow: none !important;
    align-items: center !important;
    margin: 35px auto 30px auto;
    flex-direction: column;
    width: 85%;
    text-align: center;
}

.product-box {
    width: 100%;
    margin: 25px auto;
}

.media-product {
    margin-top: 35px !important;
}

.best-text-area {
    width: 85%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.best-text {
    font-size: 20px;
    padding-right: 0px;
    font-weight: 600;
    display: block;
    border: none !important;
    padding: 15px 0px;
}

.para-text {
    padding-left: 0px;
}

.best-text-area button {
    margin-top: 20px !important;
    margin-right: 177px;
}

#best-section h1 {
    font-size: 29px;
    color: var(--main-bg-color);
    padding: 20px 0px 20px 0px;
}

#best-section p {
    font-size: 14px;
    color: var(--main-bg-color);
    padding: 0px 0px 20px 0px;
    width: 77%;
    margin: auto;
}

.Consulting-boxes {
    width: 85%;
    margin: auto;
    padding: 48px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column-reverse;
}

.Consulting-text h1 {
    color: var(--main-bg-color);
    font-size: 19px;
    padding: 20px 0px 8px 0px;
}

.Consulting-text p {
    padding: 10px 0px;
    color: var(--secondary-text-color);
    font-size: 12px;
}


/* /Services Media*/
